server:
  port: 8080
  servlet:
    context-path: /mj
mj-proxy:
  discord:
    user-token: 用户Token
    bot-token: 机器人Token
    guild-id: 服务器ID
    channel-id: 频道ID
  # 任务状态变更回调地址，不设置时需要轮询查task
  notify-hook: http://xxx/notify
  # prompt中文翻译成英文的方式，默认不翻译，可选百度、GPT，需要配置
  translate-way: null